html,body{
	min-width:1267px;
}

th,td{
	text-align:center;
	border:1px solid #dddddd;
	padding:8px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none !important;
    margin: 0;
}
`input[type="number"] {
   -moz-appearance: textfield;
}`