/*首页导航*/

.liu_icon_bg1 {
	background: #50c0e8;
	border-radius: 50%;
	width: 3.1rem;
	height: 3.1rem;
	line-height: 3.1rem;
	padding: 1rem;
	font-size: 1.5rem;
	color: #fff;
	display: block;
}

.liu_icon_bg2 {
	background: #48cfae;
	border-radius: 50%;
	width: 3.1rem;
	height: 3.1rem;
	line-height: 3.1rem;
	padding: 0.5rem;
	color: #fff;
	display: block;
}

.liu_icon_bg3 {
	background: #fb6e52;
	border-radius: 50%;
	width: 3.1rem;
	height: 3.1rem;
	padding: 0.5rem;
	color: #fff;
	display: block;
}

.liu_icon_bg4 {
	background: #f9be00;
	border-radius: 50%;
	width: 3.1rem;
	height: 3.1rem;
	line-height: 3.1rem;
	padding: 0.5rem;
	color: #fff;
	display: block;
}

.liu_nav_m {
	margin: 0 0 0.4rem 0 !important;
}

.mui-table-view .mui-media-object {
	line-height: 70px;
	max-width: 70px;
	height: 70px
}
.mui-table-view .mui-media-small {
	line-height: 40px !important;
	max-width: 40px !important;
	height: 40px !important;
}
.mui-table-view .mui-media-small01 {
	line-height: 25px !important;
	max-width: 25px !important;
	height: 25px !important;
}
.mui-table-view .mui-media-small02 {
	line-height: 50px !important;
	max-width: 50px !important;
	height: 50px !important;
}

.mui-search .mui-placeholder {
	font-size: 14px;
	line-height: none;
	position: absolute;
	z-index: 1;
	top: 2%;
	right: 0;
	bottom: 0;
	left: 8%;
	display: inline-block;
	line-height: 40px;
	height: 34px;
	color: #999;
	border: 0;
	border-radius: 6px;
	background: 0 0
}

.l-input-row input {
	background: #f1f1f1;
	border-radius: 10rem;
	width: 90%;
}

.mui-icon .mui-badge {
	font-size: 8px;
	width: 0.9rem;
	height: 0.9rem;
	line-height: 1rem;
	text-align: center;
	position: absolute;
	top: 0.3rem;
	left: 100%;
	margin-left: -1rem;
	padding: 0;
	color: #fff;
	background: #ee562f;
}

.mui-icon .mui-badge_d {
	font-size: 8px;
	width: 0.9rem;
	height: 0.9rem;
	line-height: 1rem;
	text-align: center;
	position: absolute;
	top: -2px !important;
	left: 100%;
	margin-left: -10px !important;
	padding: 0;
	color: #fff;
	background: #ee562f;
}

.mui-icon .mui-badge_s {
	font-size: 8px;
	width: 0.9rem;
	height: 0.9rem;
	line-height: 1rem;
	text-align: center;
	position: absolute;
	top: 5px !important;
	left: 100%;
	margin-left: -10px !important;
	padding: 0;
	color: #fff;
	background: #ee562f;
}

.mui-icon .mui-badge_my {
	font-size: 8px;
	width: 0.9rem;
	height: 0.9rem;
	line-height: 1rem;
	text-align: center;
	position: absolute;
	top: 10% !important;
	left: 100%;
	margin-left: -16% !important;
	padding: 0;
	color: #fff;
	background: #ee562f;
}

.mui-numbox {
	position: relative;
	display: inline-block;
	overflow: hidden;
	width: 120px;
	height: 25px;
	padding: 0 40px;
	vertical-align: top;
	vertical-align: middle;
	border: solid 1px #bbb;
	border-radius: 3px;
	background-color: #efeff4
}

.mui-popover-top .mui-table-view {
	overflow: auto;
	margin-bottom: 0;
	border-radius: 5px;
	background-color: rgba(0,0,0,.5);
	background-image: none;
	-webkit-overflow-scrolling: touch
}
.mui-popover-top {
	position: absolute;
	z-index: 999;
	display: none;
	width: 280px;
	-webkit-transition: opacity .3s;
	transition: opacity .3s;
	-webkit-transition-property: opacity;
	transition-property: opacity;
	-webkit-transform: none;
	transform: none;
	opacity: 0;
	border-radius: 7px;
	background-color: rgba(0,0,0,.5);
	-webkit-box-shadow: 0 0 15px rgba(0, 0, 0, .1);
	box-shadow: 0 0 15px rgba(0, 0, 0, .1)
}
.mui-popover-top .mui-popover-arrow:after {
	position: absolute;
	top: 22px;
	left: 0;
	width: 15px;
	height: 15px;
	content: ' ';
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
	border-radius: 3px;
	background: rgba(0,0,0,.8)
}
.mui-popover-top a:hover
{background: rgba(0,0,0,.1);}

.mui-badge-shopping {
    font-size: 12px;
    line-height: 1;
    display: inline-block;
    padding: 3px 6px;
    color: #fff;
    border-radius: 100px;
    background-color:#f00;
    position: absolute;
    top: 5%;
    left:7%;
}
.ui-alert {
    text-align: center;
    font-size: 14px !important;
    line-height: 38px;
}
.mui-radio input[type=radio]:checked:before {
    content: '\e442';
}
/*iconfont*/
@font-face {
	font-family: "iconfont";
	src: url('../fonts/iconfont02.eot');
	/* IE9*/
	src: url('../fonts/iconfont02.eot') format('embedded-opentype'), /* IE6-IE8 */
	url('../fonts/iconfont02.woff') format('woff'), /* chrome, firefox */
	url('../fonts/iconfont02.ttf') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
	url('../fonts/iconfont02.svg') format('svg');
	/* iOS 4.1- */
}
@font-face {
	font-family: "iconfont";
	src: url('../fonts/iconfont03.eot');
	/* IE9*/
	src: url('../fonts/iconfont03.eot') format('embedded-opentype'), /* IE6-IE8 */
	url('../fonts/iconfont03.woff') format('woff'), /* chrome, firefox */
	url('../fonts/iconfont03.ttf') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
	url('../fonts/iconfont03.svg') format('svg');
	/* iOS 4.1- */
}
@font-face {
	font-family: "iconfont";
	src: url('../fonts/iconfont04.eot');
	/* IE9*/
	src: url('../fonts/iconfont04.eot') format('embedded-opentype'), /* IE6-IE8 */
	url('../fonts/iconfont04.woff') format('woff'), /* chrome, firefox */
	url('../fonts/iconfont04.ttf') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
	url('../fonts/iconfont04.svg') format('svg');
	/* iOS 4.1- */
}
@font-face {
	font-family: "iconfont";
	src: url('../fonts/iconfont05.eot');
	/* IE9*/
	src: url('../fonts/iconfont05.eot') format('embedded-opentype'), /* IE6-IE8 */
	url('../fonts/iconfont05.woff') format('woff'), /* chrome, firefox */
	url('../fonts/iconfont05.ttf') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
	url('../fonts/iconfont05.svg') format('svg');
	/* iOS 4.1- */
}
@font-face {
	font-family: "iconfont";
	src: url('../fonts/iconfont.eot');
	/* IE9*/
	src: url('../fonts/iconfont.eot') format('embedded-opentype'), /* IE6-IE8 */
	url('../fonts/iconfont.woff') format('woff'), /* chrome, firefox */
	url('../fonts/iconfont.ttf') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
	url('../fonts/iconfont.svg') format('svg');
	/* iOS 4.1- */
}
@font-face {
  font-family: "iconfont-sm";
  src: url('//at.alicdn.com/t/font_1433401008_2229297.woff') format('woff'), /* chrome、firefox */ url('//at.alicdn.com/t/font_1433401008_2229297.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/ url('//at.alicdn.com/t/font_1433401008_2229297.svg#iconfont') format('svg');
  
  /* iOS 4.1- */
}
.icon {
  font-family: "iconfont-sm" !important;
  font-style: normal;
  display: inline-block;
  vertical-align: middle;
  background-size: 100% auto;
  background-position: center;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.iconfont {
	font-family: "iconfont" !important;
	-webkit-font-smoothing: antialiased;
	-webkit-text-stroke-width: 0px;
	-moz-osx-font-smoothing: grayscale;
}

.icon-jiajuicon2202:before {
			content: "\e651";
		}
.icon-shaixuan:before { content: "\e617"; }

.icon-app:before {
  content: "\e605";
}
.icon-browser:before {
  content: "\e606";
}
.icon-card:before {
  content: "\e607";
}
.icon-cart:before {
  content: "\e600";
}
.icon-code:before {
  content: "\e609";
}
.icon-computer:before {
  content: "\e616";
}
.icon-remove:before {
  content: "\e60a";
}
.icon-download:before {
  content: "\e60b";
}
.icon-edit:before {
  content: "\e60c";
}
.icon-emoji:before {
  content: "\e615";
}
.icon-star:before {
  content: "\e60e";
}
.icon-friends:before {
  content: "\e601";
}
.icon-gift:before {
  content: "\e618";
}
.icon-phone:before {
  content: "\e60f";
}
.icon-clock:before {
  content: "\e619";
}
.icon-home:before {
  content: "\e602";
}
.icon-menu:before {
  content: "\e60d";
}
.icon-message:before {
  content: "\e617";
}
.icon-me:before {
  content: "\e603";
}
.icon-picture:before {
  content: "\e61a";
}
.icon-share:before {
  content: "\e61b";
}
.icon-settings:before {
  content: "\e604";
}
.icon-refresh:before {
  content: "\e61c";
}
.icon-caret:before {
  content: "\e610";
}
.icon-down:before {
  content: "\e611";
}
.icon-up:before {
  content: "\e612";
}
.icon-right:before {
  content: "\e613";
}
.icon-left:before {
  content: "\e614";
}
.icon-check:before {
  content: "\e608";
}
.icon-search:before {
  content: "\e61d";
}
.icon-new:before {
  content: "\e61e";
}






.icon-icongouwuche:before {
	content: "\e63f";
}

.icon-dingdanjilu:before {
	content: "\e650";
}

.icon-icondaishouhuo:before {
	content: "\e670";
}

.icon-fuwuguanli:before {
	content: "\e652";
}

.icon-shoufeiliebiao:before {
	content: "\e657";
}

.icon-iconfenxiao:before {
	content: "\e63e";
}

.icon-icondianpu:before {
	content: "\e63d";
}

.icon-check01:before {
	content: "\e608";
	font-size: 14px;
}

.icon-close01:before {
	content: "\e60f";
	color: #fff;
	background: #f00;
	font-size: 14px;
}

.icon-close02:before {
	content: "\e60f";
	font-size: 14px;
}

.icon-checkoutline01:before {
	content: "\e60c";
}

.icon-shopping01:before {
	content: "\e6e4";
}

.icon-weixin:before {
	content: "\e709";
}

.icon-weixinbg:before {
	content: "\e70a";
}

.icon-weixiu:before {
	content: "\e70b";
}

.icon-win8:before {
	content: "\e70c";
}

.icon-woman:before {
	content: "\e70d";
}

.icon-zheng:before {
	content: "\e70e";
}

.icon-tel02:before {
	content: "\e6ee";
}

.icon-tel03:before {
	content: "\e6ef";
}

.icon-tyre01:before {
	content: "\e6f9";
}

.icon-tel04:before {
	content: "\e6f0";
}

.icon-turn:before {
	content: "\e6f8";
}

.icon-transmission:before {
	content: "\e6f7";
}

.icon-touch:before {
	content: "\e6f6";
}

.icon-top02:before {
	content: "\e6f5";
}

.icon-top01:before {
	content: "\e6f4";
}

.icon-tool01:before {
	content: "\e6f3";
}

.icon-tiptxt:before {
	content: "\e6f2";
}

.icon-time:before {
	content: "\e6f1";
}

.icon-tyre02:before {
	content: "\e6fa";
}

.icon-tyre03:before {
	content: "\e6fb";
}

.icon-university:before {
	content: "\e6fc";
}

.icon-user01:before {
	content: "\e6fd";
}

.icon-user02:before {
	content: "\e6fe";
}

.icon-user03:before {
	content: "\e6ff";
}

.icon-user04:before {
	content: "\e700";
}

.icon-user06:before {
	content: "\e702";
}

.icon-user05:before {
	content: "\e701";
}

.icon-plueoutline02:before {
	content: "\e6c2";
}

.icon-platform:before {
	content: "\e6c1";
}

.icon-position01:before {
	content: "\e6c3";
}

.icon-weibobg:before {
	content: "\e708";
}

.icon-wash01:before {
	content: "\e706";
}

.icon-wash:before {
	content: "\e705";
}

.icon-useroutline:before {
	content: "\e704";
}

.icon-userbg:before {
	content: "\e703";
}

.icon-position02:before {
	content: "\e6c4";
}

.icon-praise01:before {
	content: "\e6c5";
}

.icon-profit01:before {
	content: "\e6c7";
}

.icon-radio01:before {
	content: "\e6c8";
}

.icon-reduceoutling01:before {
	content: "\e6ca";
}

.icon-refit:before {
	content: "\e6cb";
}

.icon-radio02:before {
	content: "\e6c9";
}

.icon-round:before {
	content: "\e6d5";
}

.icon-risk:before {
	content: "\e6d4";
}

.icon-residence:before {
	content: "\e6d2";
}

.icon-repair01:before {
	content: "\e6d0";
}

.icon-renrenbg:before {
	content: "\e6ce";
}

.icon-renren:before {
	content: "\e6cd";
}

.icon-repair:before {
	content: "\e6cf";
}

.icon-rescue:before {
	content: "\e6d1";
}

.icon-praise02:before {
	content: "\e6c6";
}

.icon-weibo:before {
	content: "\e707";
}

.icon-refresh01:before {
	content: "\e6cc";
}

.icon-right:before {
	content: "\e6d3";
}

.icon-share05:before {
	content: "\e6de";
}

.icon-set02:before {
	content: "\e6dc";
}

.icon-shang:before {
	content: "\e6dd";
}

.icon-set01:before {
	content: "\e6db";
}

.icon-service:before {
	content: "\e6da";
}

.icon-send02:before {
	content: "\e6d9";
}

.icon-search02:before {
	content: "\e6d7";
}

.icon-share06:before {
	content: "\e6df";
}

.icon-lamp01:before {
	content: "\e69b";
}

.icon-lampleft:before {
	content: "\e69d";
}

.icon-lamp02:before {
	content: "\e69c";
}

.icon-lampright:before {
	content: "\e69e";
}

.icon-lat02:before {
	content: "\e69f";
}

.icon-share07:before {
	content: "\e6e0";
}

.icon-search01:before {
	content: "\e6d6";
}

.icon-send01:before {
	content: "\e6d8";
}

.icon-shop01:before {
	content: "\e6e1";
}

.icon-shop03:before {
	content: "\e6e3";
}

.icon-speed:before {
	content: "\e6e6";
}

.icon-label01:before {
	content: "\e69a";
}

.icon-speed01:before {
	content: "\e6e7";
}

.icon-shop02:before {
	content: "\e6e2";
}

.icon-taxi01:before {
	content: "\e6ec";
}

.icon-shopping02:before {
	content: "\e6e5";
}

.icon-key01:before {
	content: "\e699";
}

.icon-ignition:before {
	content: "\e698";
}

.icon-taxi:before {
	content: "\e6eb";
}

.icon-tel01:before {
	content: "\e6ed";
}

.icon-speed02:before {
	content: "\e6e8";
}

.icon-system:before {
	content: "\e6ea";
}

.icon-speed03:before {
	content: "\e6e9";
}

.icon-lock01:before {
	content: "\e6a1";
}

.icon-lst02:before {
	content: "\e6a3";
}

.icon-lst01:before {
	content: "\e6a2";
}

.icon-message04:before {
	content: "\e6ac";
}

.icon-message02:before {
	content: "\e6aa";
}

.icon-male:before {
	content: "\e6a8";
}

.icon-message03:before {
	content: "\e6ab";
}

.icon-message01:before {
	content: "\e6a9";
}

.icon-maintain:before {
	content: "\e6a7";
}

.icon-lst05:before {
	content: "\e6a6";
}

.icon-lst04:before {
	content: "\e6a5";
}

.icon-message05:before {
	content: "\e6ad";
}

.icon-up02:before {
	content: "\e637";
}

.icon-staroutline04:before {
	content: "\e635";
}

.icon-staroutline03:before {
	content: "\e634";
}

.icon-up01:before {
	content: "\e636";
}

.icon-share04:before {
	content: "\e62d";
}

.icon-share02:before {
	content: "\e62b";
}

.icon-sharebg01:before {
	content: "\e62e";
}

.icon-share03:before {
	content: "\e62c";
}

.icon-share01:before {
	content: "\e62a";
}

.icon-right02:before {
	content: "\e629";
}

.icon-reducebg01:before {
	content: "\e627";
}

.icon-reduce02:before {
	content: "\e626";
}

.icon-right01:before {
	content: "\e628";
}

.icon-starbg01:before {
	content: "\e62f";
}

.icon-starbg02:before {
	content: "\e630";
}

.icon-starbg03:before {
	content: "\e631";
}

.icon-staroutline01:before {
	content: "\e632";
}

.icon-staroutline02:before {
	content: "\e633";
}

.icon-reduce01:before {
	content: "\e625";
}

.icon-plueoutline01:before {
	content: "\e624";
}

.icon-pluebg03:before {
	content: "\e623";
}

.icon-pluebg02:before {
	content: "\e622";
}

.icon-pluebg01:before {
	content: "\e621";
}

.icon-plue02:before {
	content: "\e620";
}

.icon-plue01:before {
	content: "\e61f";
}

.icon-left02:before {
	content: "\e61e";
}

.icon-left01:before {
	content: "\e61d";
}

.icon-closeoutline01:before {
	content: "\e614";
}

.icon-down02:before {
	content: "\e616";
}

.icon-faxianbg:before {
	content: "\e617";
}

.icon-down01:before {
	content: "\e615";
}

.icon-heartbg01:before {
	content: "\e619";
}

.icon-faxianoutline:before {
	content: "\e618";
}

.icon-heartbg02:before {
	content: "\e61a";
}

.icon-heartoutline01:before {
	content: "\e61b";
}

.icon-heartoutline02:before {
	content: "\e61c";
}

.icon-closebg01:before {
	content: "\e613";
}

.icon-checkbg01:before {
	content: "\e60a";
}

.icon-check02:before {
	content: "\e609";
}

.icon-close04:before {
	content: "\e612";
}

.icon-close03:before {
	content: "\e611";
}

.icon-askoutline03:before {
	content: "\e607";
}

.icon-askoutline01:before {
	content: "\e605";
}

.icon-askoutline02:before {
	content: "\e606";
}

.icon-checkoutline03:before {
	content: "\e60e";
}

.icon-checkoutline02:before {
	content: "\e60d";
}

.icon-checkbg02:before {
	content: "\e60b";
}

.icon-askbg01:before {
	content: "\e602";
}

.icon-askbg03:before {
	content: "\e604";
}

.icon-askbg02:before {
	content: "\e603";
}

.icon-ask01:before {
	content: "\e601";
}

.icon-edit04:before {
	content: "\e684";
}

.icon-edit01:before {
	content: "\e681";
}

.icon-delete01:before {
	content: "\e67c";
}

.icon-edit03:before {
	content: "\e683";
}

.icon-edit02:before {
	content: "\e682";
}

.icon-data06:before {
	content: "\e67b";
}

.icon-data05:before {
	content: "\e67a";
}

.icon-data04:before {
	content: "\e679";
}

.icon-data03:before {
	content: "\e678";
}

.icon-direction01:before {
	content: "\e680";
}

.icon-data02:before {
	content: "\e677";
}

.icon-data01:before {
	content: "\e676";
}

.icon-cut02:before {
	content: "\e675";
}

.icon-direction:before {
	content: "\e67f";
}

.icon-delete03:before {
	content: "\e67e";
}

.icon-cut01:before {
	content: "\e674";
}

.icon-delete02:before {
	content: "\e67d";
}

.icon-coating:before {
	content: "\e66b";
}

.icon-commodityoutline:before {
	content: "\e66d";
}

.icon-commodity:before {
	content: "\e66c";
}

.icon-cart01:before {
	content: "\e662";
}

.icon-car01:before {
	content: "\e659";
}

.icon-car02:before {
	content: "\e65a";
}

.icon-check011:before {
	content: "\e663";
}

.icon-car03:before {
	content: "\e65b";
}

.icon-check021:before {
	content: "\e664";
}

.icon-check03:before {
	content: "\e665";
}

.icon-computer01:before {
	content: "\e66e";
}

.icon-car04:before {
	content: "\e65c";
}

.icon-car05:before {
	content: "\e65d";
}

.icon-check04:before {
	content: "\e666";
}

.icon-correct:before {
	content: "\e670";
}

.icon-check05:before {
	content: "\e667";
}

.icon-car06:before {
	content: "\e65e";
}

.icon-car07:before {
	content: "\e65f";
}

.icon-cooling:before {
	content: "\e66f";
}

.icon-cosmetology:before {
	content: "\e671";
}

.icon-clip01:before {
	content: "\e668";
}

.icon-close:before {
	content: "\e669";
}

.icon-customer01:before {
	content: "\e673";
}

.icon-closeoutline02:before {
	content: "\e66a";
}

.icon-crane:before {
	content: "\e672";
}

.icon-car09:before {
	content: "\e661";
}

.icon-car08:before {
	content: "\e660";
}

.icon-calendar:before {
	content: "\e658";
}

.icon-bag03:before {
	content: "\e64f";
}

.icon-appweixin:before {
	content: "\e646";
}

.icon-bag02:before {
	content: "\e64e";
}

.icon-baidu:before {
	content: "\e650";
}

.icon-apprenren:before {
	content: "\e643";
}

.icon-apple02:before {
	content: "\e642";
}

.icon-android02:before {
	content: "\e63e";
}

.icon-arrow:before {
	content: "\e648";
}

.icon-articles:before {
	content: "\e64b";
}

.icon-authenticationbg:before {
	content: "\e64c";
}

.icon-appsina:before {
	content: "\e644";
}

.icon-braking:before {
	content: "\e657";
}

.icon-bag01:before {
	content: "\e64d";
}

.icon-apptao:before {
	content: "\e645";
}

.icon-apple01:before {
	content: "\e641";
}

.icon-arrowbg:before {
	content: "\e64a";
}

.icon-book03:before {
	content: "\e656";
}

.icon-book02:before {
	content: "\e655";
}

.icon-book01:before {
	content: "\e654";
}

.icon-binding02:before {
	content: "\e653";
}

.icon-binding01:before {
	content: "\e652";
}

.icon-baidubg:before {
	content: "\e651";
}

.icon-appzhi:before {
	content: "\e647";
}

.icon-appqzone:before {
	content: "\e640";
}

.icon-appqq:before {
	content: "\e63f";
}

.icon-arrow01:before {
	content: "\e649";
}

.icon-lst03:before {
	content: "\e6a4";
}

.icon-meter:before {
	content: "\e6ae";
}

.icon-notepad02:before {
	content: "\e6b7";
}

.icon-notepad01:before {
	content: "\e6b6";
}

.icon-picture03:before {
	content: "\e6c0";
}

.icon-picture02:before {
	content: "\e6bf";
}

.icon-money01:before {
	content: "\e6af";
}

.icon-money02:before {
	content: "\e6b0";
}

.icon-money04:before {
	content: "\e6b2";
}

.icon-money03:before {
	content: "\e6b1";
}

.icon-order01:before {
	content: "\e6b9";
}

.icon-notice01:before {
	content: "\e6b8";
}

.icon-fire03:before {
	content: "\e68d";
}

.icon-fire04:before {
	content: "\e68e";
}

.icon-android01:before {
	content: "\e63d";
}

.icon-alipaybg:before {
	content: "\e63c";
}

.icon-alipay:before {
	content: "\e63b";
}

.icon-aircraft01:before {
	content: "\e63a";
}

.icon-7:before {
	content: "\e638";
}

.icon-gift02:before {
	content: "\e695";
}

.icon-horn:before {
	content: "\e697";
}

.icon-gps:before {
	content: "\e696";
}

.icon-gift01:before {
	content: "\e694";
}

.icon-gasstation:before {
	content: "\e693";
}

.icon-fuel:before {
	content: "\e692";
}

.icon-flag01:before {
	content: "\e68f";
}

.icon-flag02:before {
	content: "\e690";
}

.icon-focus01:before {
	content: "\e691";
}

.icon-fire02:before {
	content: "\e68c";
}

.icon-edit05:before {
	content: "\e685";
}

.icon-edit06:before {
	content: "\e686";
}

.icon-engine:before {
	content: "\e687";
}

.icon-exam:before {
	content: "\e688";
}

.icon-fire01:before {
	content: "\e68b";
}

.icon-famen:before {
	content: "\e68a";
}

.icon-eye:before {
	content: "\e689";
}

.icon-15:before {
	content: "\e639";
}

.icon-erweimaicon312509:before { content: "\e648"; }

/*通用*/

.fl {
	float: left !important;
}

.fr {
	float: right !important;
}

.f_10 {
	font-size: 10px!important;
}

.f_11 {
	font-size: 11px!important;
}

.f_12 {
	font-size: 12px!important;
}

.f_13 {
	font-size: 13px!important;
}

.f_14 {
	font-size: 14px!important;
}

.f_15 {
	font-size: 0.8rem!important;
}

.f_16 {
	font-size: 16px!important;
}

.f_17 {
	font-size: 17px!important;
}

.f_18 {
	font-size: 18px!important;
}

.f_19 {
	font-size: 19px!important;
}

.f_20 {
	font-size: 20px!important;
}

.f_21 {
	font-size: 21px!important;
}

.f_22 {
	font-size: 22px!important;
}

.f_23 {
	font-size: 23px!important;
}

.f_24 {
	font-size: 24px!important;
}

.f_25 {
	font-size: 25px!important;
}

.f_30 {
	font-size: 30px!important;
}

.f_35 {
	font-size: 35px!important;
}

.f_40 {
	font-size: 40px!important;
}

.f_50 {
	font-size: 50px!important;
}

.lh10 {
	line-height: 10px;
}

.lh15 {
	line-height: 15px;
}

.lh20 {
	line-height: 20px;
}

.lh25 {
	line-height: 25px;
}

.lh30 {
	line-height: 30px;
}

.lh35 {
	line-height: 35px;
}

.lh40 {
	line-height: 40px;
}

.lh45 {
	line-height: 45px;
}

.lh50 {
	line-height: 50px;
}

.lh55 {
	line-height: 55px;
}

.lh60 {
	line-height: 60px;
}

.lh65 {
	line-height: 65px;
}

.lh70 {
	line-height: 70px;
}

.lh80 {
	line-height: 80px;
}

.lh90 {
	line-height: 90px;
}

.lh100 {
	line-height: 100px;
}

.br_5px {
	border-radius: 5px;
}

.br_10px {
	border-radius: 10px;
}

.br_20px {
	border-radius: 20px;
}

.br_user {
	border-radius: 50%;
}

.user_talk {
	line-height: 40px !important;
	max-width: 40px !important;
	height: 40px !important;
}
.w-b20 {
	width: 20% !important;
}
.w-b23 {
	width: 23% !important;
}
.w-b24 {
	width: 24% !important;
}
.w-b25 {
	width: 25% !important;
}
.w-b33 {
	width: 33% !important;
}

.pt6_lr25 {
	padding: 6px 25px;
}

.pt15_lr10 {
	padding: 15px 10px;
}

.pt10_l0r5 {
	padding: 10px 5px 10px 0 !important;
}
.pl10{padding-left: 10px;}
.bt1 {
	border-top: solid #f1f1f1 1px;
}

.bo-tz {
	border: solid #0894EC 3px;
}

.bo-d1 {
	border: solid #d1d1d1 1px;
}

.m0 {
	margin: 0 !important;
}

.p0 {
	padding: 0 !important;
}

.mt5 {
	margin-top: 0.5rem !important;
}

.mt1r {
	margin-top: 1rem !important;
}

.mt1-5r {
	margin-top: 1.5rem !important;
}

.mb10 {
	margin-bottom: 1rem !important;
}

.mb3-2r {
	margin-bottom: 3.2rem !important;
}

.mtb5_lr0 {
	margin: 5px 0 !important;
}

.mt5_lr0 {
	margin: 5px 0 0 0 !important;
}

.m2 {
	margin: 1% !important;
}

.mr_f10 {
	margin-right: -1rem !important;
}

.pl_2e {
	padding-left: 2rem !important;
}
.pl_2-5e {
	padding-left: 2.5rem !important;
}
.pr_2e {
	padding-right: 2rem !important;
}

.pr_15 {
	padding-right: 1rem;
}

.pr_10 {
	padding-right: 0.4rem;
}

.plr_10 {
	padding: 0 0.5rem;
}
.plr1e {
	padding: 1rem !important;
}
.plr1e_tp05{padding:0.5rem 1rem !important;}
.plr_5 {
	padding: 0 0.2rem;
}
.plr_15_tb5 {
	padding: 5px 15px;
}

.pl4e {
	padding-left: 4rem !important;
}
.p2px {
	padding: 2px;
}
.p5 {
	padding: 0.5rem;
}
.pr10 {
	padding-right: 10px !important;
}
.pl0{padding-left: 0 !important;}
.pr0{padding-right: 0 !important;}
.pr1 {
	padding: 1rem;
}

.plr10_tp2 {
	padding: 2px 10px;
}

.top_0 {
	top: 0!important;
}

.bo_r0 {
	border-radius: 0 !important;
}

.bo_0 {
	border: none !important;
}

.bo_b1 {
	border-bottom: 1px solid #e1e1e1;
}

.bo_1_fb6e50 {
	border: 1px solid #fb6e50;
	border-radius: 3px;
}

.c_20b3e8 {
	color: #20b3e8;
}

.c_644397 {
	color: #644397 !important;
}

.c_4fc0e9 {
	color: #4fc0e9 !important;
}

.c_48CFAE {
	color: #48CFAE !important;
}

.c_2AC845 {
	color: #2AC845 !important;
}

.c_f00 {
	color: #f00 !important;
}

.c_333 {
	color: #333 !important;
}
.c_EE1C63 {
	color: #EE1C63 !important;
}

.c_fff {
	color: #fff !important;
	position:relative;
}

.c_f9bf17 {
	color: #f9bf17 !important;
}

.bg_f {
	background: #fff !important;
}

.b_d1 {
	background: #d1d1d1 !important;
}

.b_e1 {
	background: #e1e1e1 !important;
}

.bg_4fc0e9 {
	background: #4fc0e9 !important;
}
.b_fff {
	background: #fff !important;
}
.b_20b3e8 {
	background: #20b3e8 !important;
}

.b_48CFAE {
	background: #48CFAE !important;
}

.b_fa5938 {
	background: #fa5938 !important;
}

.b_21b2e7 {
	background: #21b2e7 !important;
}

.b_f9bf17 {
	background: #f9bf17 !important;
}

.b_f0810a {
	background: #f0810a !important;
}

.bg_f00 {
	background: #f00 !important;
}

.bg_e82827 {
	background: #e82827;
}

.close_s {
	background: #666;
	padding: 0.4rem 0.4rem 0.3rem 0.4rem;
	border-radius: 50%;
	font-size: 9px;
}

.w_auto {
	width: auto !important;
}

.div_center {
	margin: 0 auto !important;
}

.cb {
	clear: both !important;
}

.bg_n {
	background: none !important;
}

.wb77 {
	width: 77% !important;
}
.wb-all {
	width: 100% !important;
}

.wb50 {
	width: 50% !important;
}

.fb {
	font-weight: 800;
}


/*返回顶部*/

#goTopBtn {
	position: fixed;
	text-align: center;
	width: 2rem;
	height: 2rem;
	bottom: 5rem;
	font-size: 12px;
	cursor: pointer;
	right: 1.5rem;
	z-index: 99;
	opacity:0.7;
}

.go_top_b {
	background: #fff;
	border-radius: 50%;
	padding: 0.1rem 0.48rem;
	color:#21B2E7;
	border:solid 1px #999;
}


/*悬浮购物车*/

.shopping_l {
	position: fixed;
	text-align: center;
	width: 2rem;
	height: 2rem;
	bottom: 5rem;
	font-size: 12px;
	cursor: pointer;
	left: 1.5rem;
	z-index: 99;
}


/*头部导航通用*/


/*.header_bg {
	background: #e82827;
}

.header_bg a {
	color: #fff;
}*/


/*审核进度条*/

.mui-demo-container {
	background-color: #fff;
	padding: 10px 15px;
}

.c_ffbb03 {
	color: #ffbb03 !important;
}

.b_333 {
	background: #333 !important;
}

.b_999 {
	background: #999 !important;
}

.b_ffbb03 {
	background: #ffbb03 !important;
}

.pr {
	position: relative;
}


/*底部二维码条款*/

.c_999 {
	color: #999;
}

.c_bf {
	color: #999;
}

.btn_m {
	margin-right: 1.0rem;
	margin-top: -0.1rem!important;
	padding: 10px 20px !important;
}

.c_pt {
	padding-top: 0.5rem;
}


/*审核失败提示框*/

.card_no {
	margin-top: 1rem;
	border-radius: 0;
	border: 0;
	padding-bottom: 1rem;
}

.card_no h5 {
	line-height: 2rem;
	font-size: 1rem;
	color: #ffbb03;
	text-align: center;
}

.card_no p {
	line-height: 1.5rem;
	font-size: 0.9rem;
	color: #999;
	text-align: left;
}


/*应用奖励筛选*/

.mui-slider_add {
	background: #fff;
	margin-bottom: 0.5rem;
	height: 2.6rem;
}

.mui-slider_add a {
	font-size: 0.9rem;
	line-height: 2.6rem !important;
}


/*规则角标*/

.mui_badge_wz {
	float: left;
	margin: 0.2rem 0.3rem 0 0;
}

.mui-slider_add a {
	font-size: 0.9rem;
	line-height: 2.6rem !important;
}


/*ub中心*/

.ub_btn {
	width: 83%;
	margin: 10px auto;
}

.ub_btn button {
	color: #999;
	border-color: #f1f1f1;
}

.ub_btn i {
	margin-right: 0.3rem;
}

.lh2r {
	line-height: 2.5rem;
}

.c_fb6e50 {
	color: #fb6e50 !important;
}

.mlr01 {
	margin: 0 1rem !important;
}

.ml_10 {
	margin-left: 10px !important;
}

.mr0 {
	margin-right: 0 !important;
}

.uz_li_p li {
	padding: 5px 15px;
}


/*ub兑换*/

.list_img {
	max-width: 75px !important;
	height: 75px !important;
	border: 1px solid #e1e1e1;
}


/*商品详情*/

.title_con {
	line-height: 2.8rem !important;
	border-left: solid 3px #f9be00;
	padding: 0.2rem 0.4rem;
	margin: 0 0.4rem !important;
}

.title_con02 {
	line-height: 2.8rem !important;
	border-left: solid 3px #f00;
	padding: 0.2rem 0.4rem;
	margin: 0 0.4rem !important;
}

.title_con03 {
	line-height: 2.8rem !important;
	border-left: solid 3px #20b3e8;
	padding: 0.2rem 0.4rem;
	margin: 0 0.4rem !important;
}


/*注册按钮*/

.reg_btn {
	background: #fff;
	width: 6rem;
	height: 6rem;
	margin: 3rem auto;
	border-radius: 50%;
	text-align: center;
}

.reg_btn a {
	width: 6rem;
	height: 6rem;
	line-height: 6rem;
	display: block;
	color: #333;
}

.tj_btn a {
	width: 100%;
	display: block;
}

.l-popover {
	position: fixed !important;
	top: 50%!important;
	z-index: 999;
	left: 50% !important;
	margin-top: -25%;
	margin-left: -140px;
}

.popup_a_n .mui-popover .mui-popover-arrow {
	position: absolute;
	z-index: 1000;
	top: -25px;
	left: 0;
	overflow: hidden;
	width: 216px !important;
	height: 26px
}

.popup_a_n .mui-popover .mui-popover-arrow:after {
	position: absolute;
	top: 19px;
	left: 0;
	width: 0;
	height: 0;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
	border-radius: 3px;
	background: #000 !important;
}
.mui-ellipsis-3 {
	display: -webkit-box;
	overflow: hidden;
	white-space: normal!important;
	text-overflow: ellipsis;
	word-wrap: break-word;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical
}
.mui-ellipsis-4 {
	display: -webkit-box;
	overflow: hidden;
	white-space: normal!important;
	text-overflow: ellipsis;
	word-wrap: break-word;
	-webkit-line-clamp: 4;
	-webkit-box-orient: vertical
}
.mui-ellipsis-5 {
	display: -webkit-box;
	overflow: hidden;
	white-space: normal!important;
	text-overflow: ellipsis;
	word-wrap: break-word;
	-webkit-line-clamp: 5;
	-webkit-box-orient: vertical
}
.mui-ellipsis-6 {
	display: -webkit-box;
	overflow: hidden;
	white-space: normal!important;
	text-overflow: ellipsis;
	word-wrap: break-word;
	-webkit-line-clamp: 6;
	-webkit-box-orient: vertical
}




.mui-jt:after {
	position: absolute;
	z-index: -1;
	top: 52%;
	left: 3.7rem;
	width: 0.7rem;
	height: 0.7rem;
	content: ' ';
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
	background: #e1e1e1
}

.mui-jt-r:after {
	position: absolute;
	z-index: -1;
	top: 52%;
	right: 4rem;
	width: 0.7rem;
	height: 0.7rem;
	content: ' ';
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
	background: #e1e1e1
}

.mui-jt-t:after {
	position: absolute;
	z-index: -1;
	top: -12%;
	left: 1rem;
	width: 0.7rem;
	height: 0.7rem;
	content: ' ';
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
	background: #e1e1e1
}

.mui-jt-b:after {
	position: absolute;
	z-index: -1;
	top: 85%;
	left: 13%;
	width: 0.7rem;
	height: 0.7rem;
	content: ' ';
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
	background: #666;
}

.select_list {
	direction: rtl;
}

.spot {
	width: 1.3rem;
	height: 1.3rem;
	background: #48cfae;
	border-radius: 50%;
	border: solid 3px #92e1cb;
	margin: 0 auto;
}
.spot-no {
	width: 1rem;
	height: 1rem;
	background: #e1e1e1;
	border-radius: 50%;
	margin: 0 auto;
}

.add_img li a {
	width: 19.5%;
	margin: 0 0 0 0.5% !important;
	float: left;
	padding: 0 !important;
}

.add_img li a img {
	width: 100%;
}

.mui-sz {
	background: #FFBB03;
	border-radius: 50%;
	width: 1.5rem;
	height: 1.5rem;
	padding: 0.1rem 0.4rem;
	color: #fff;
	margin-right: 5px;
}


/*优惠券*/

.stamp * {
	padding: 0;
	margin: 0;
	list-style:none;
	font-family:"Microsoft YaHei", 'Source Code Pro', Menlo, Consolas, Monaco, monospace;
}
.stamp {
	height: 110px;
	margin-bottom: 50px;
	position: relative;
	overflow: hidden;
}
.stamp .time{
	position: absolute;
	bottom: 0;
}
.stamp .time .sm{
	padding-left: 10px;
}
.stamp .time .sj{
	padding-right: 10px;
}
.stamp:before {
	content: '';
	position: absolute;
	top:10px;
	bottom:0;
	left:0;
	right:0px;
	/*z-index: -1;*/
}

.stamp .par {

	padding: 16px 15px;
	border-right:2px dashed rgba(255, 255, 255, .3);
	text-align: left;
}
.stamp .par p {
	line-height: 21px;
}
.stamp .par span {
	font-size: 50px;
	margin-right: 5px;
}
.stamp .par .sign {
	font-size: 34px;
}
.stamp .par sub {
	position: relative;
	top:-5px;
	color:rgba(255, 255, 255, .8);
}
.stamp .copy {
	display: inline-block;
	padding:21px 14px;
	width:100px;
	vertical-align: text-bottom;
	font-size: 30px;
	color:rgb(255,255,255);
	text-align: center;
	line-height: initial;
}
.stamp .copy p {
	margin-top: 15px;
}
.stamp .time{border-top:dotted 2px #d1d1d1; width: 100%; display: block;}
.stamp01 {
	background: radial-gradient(rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0) 5px, #20B3E8 5px);
	background-size: 15px 15px;
	background-position: 9px 3px;
	border: solid 1px #e1e1e1;
}
.stamp01:before {
	background-color:#fff;	
}
.stamp-yes .par{background: url(../img/yxz.png) no-repeat top right; background-size:28%;}
.stamp-no .par{background: url(../img/bky.png) no-repeat top right; background-size:28%;}
.stamp-gq .par{background: url(../img/ygq.png) no-repeat top right; background-size:28%;}
.stamp-lq .par{background: url(../img/ylq.png) no-repeat top right; background-size:28%;}
.stamp-sy .par{background: url(../img/ysy.png) no-repeat top right; background-size:28%;}
.stamp-yes .stamp01 {
	background: radial-gradient(rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0) 5px, #20B3E8 5px);
	background-size: 15px 15px;
	background-position: 9px 3px;
	border: solid 1px #e1e1e1;
}
.stamp-yes .stamp01:before {
	background-color:#fff;	
}

.stamp-no .stamp01 {
	background: radial-gradient(rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0) 5px, #999 5px);
	background-size: 15px 15px;
	background-position: 9px 3px;
	border: solid 1px #e1e1e1;
}
.stamp-no .stamp01:before {
	background-color:#fff;	
}
.stamp-gq .stamp01 {
	background: radial-gradient(rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0) 5px, #999 5px);
	background-size: 15px 15px;
	background-position: 9px 3px;
	border: solid 1px #e1e1e1;
}
.stamp-gq .stamp01:before {
	background-color:#fff;	
}
.stamp-sy .stamp01 {
	background: radial-gradient(rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0) 5px, #999 5px);
	background-size: 15px 15px;
	background-position: 9px 3px;
	border: solid 1px #e1e1e1;
}
.stamp-sy .stamp01:before {
	background-color:#fff;	
}
.stamp-yes .c_20b3e8{color: #20b3e8 !important;}
.stamp-gq p{color: #999 !important;}
.stamp-gq span{color: #999 !important;}
.stamp-gq p span{ color: #999 !important;}

.stamp-no p{color: #999 !important;}
.stamp-no span{color: #999 !important;}
.stamp-no p span{ color: #999 !important;}

.stamp-sy p{color: #999 !important;}
.stamp-sy span{color: #999 !important;}
.stamp-sy p span{ color: #999 !important;}

.icon01 {
	background: #f9be00;
	border-radius: 50%;
	padding: 0.7rem 0.8rem;
	margin-right: 5px;
	color: #fff;
}

.icon02 {
	background: #50c0e8;
	border-radius: 50%;
	padding: 0.7rem 0.8rem;
	margin-right: 5px;
	color: #fff;
}

.icon03 {
	background: #fb6e52;
	border-radius: 50%;
	padding: 0.7rem 0.8rem;
	margin-right: 5px;
	color: #fff;
}

.icon04 {
	background: #48cfae;
	border-radius: 50%;
	padding: 0.7rem 0.8rem;
	margin-right: 5px;
	color: #fff;
}

.lc {
	border-radius: 50%;
	padding: 0px 6px;
	display: inline-block;
}

.clock {
	background: #333;
	padding: 6px;
	border-radius: 5px;
	color: #fff;
	margin: 5px;
}

.tz-talk {
	width: 90%;
	padding: 10px 10px 30px 10px;
	margin: 15px;
	background: #666;
	border-radius: 5px;
	color: #fff;
	font-size: 14px;
}

.no-gutter ul li {
	list-style: none;
}

.money-pop {
	font-size: 12px;
	padding-left: 18px;
	color: #f60;
}

.add_pop {
	display: block;
	background: #f1f1f1;
}

.add_pop a {
	height: 2rem;
	line-height: 2rem;
	color: #666;
	border: solid 1px #fff;
}
.add_pop span {
	height: 2rem;
	line-height: 2rem;
	color: #666;
	border: solid 1px #fff;
}

.add_pop a:active {
	color: #333;
	background: #999;
}

.link_pop a {
	height: 2rem;
	line-height: 2rem;
	margin: 0 !important;
}

.text-center {
	text-align: center;
}

.top_b {
	border-bottom: solid 1px #d1d1d1;
}

.item-content {
	padding: 5px 15px;
}

.item-title {
	line-height: 30px;
	font-size: 14px;
}

.item-subtitle {
	line-height: 30px;
	font-size: 12px;
}

.input input {
	font-size: 14px;
	color: #333;
	padding: 5px;
	border: 0;
	background: #fff;
	width: 40%;
}

.link_pop .btn-r01 {
	background: #fff;
	border-left: solid 1px #999;
	border-top: solid 1px #f1f1f1;
	border-right: solid 1px #f1f1f1;
	border-bottom: solid 1px #f1f1f1;
	color: #333;
}

.link_pop .btn-r02 {
	background: #f60;
	border-left: solid 1px #999;
	border-top: solid 1px #f1f1f1;
	border-right: solid 1px #f1f1f1;
	border-bottom: solid 1px #f1f1f1;
	color: #fff;
	height: 6.3rem !important;
	line-height: 6.3rem !important;
}

.link_pop .btn-r01:active {
	color: #333;
	background: #999;
}

.link_pop .btn-r02:active {
	color: #fff;
	background: #f90;
}
.jp_d{}
.scroll_top{position:absolute;top:0; z-index: 9;}

.shopping_nav{background: #ee1c63;color: #fff;font-size: 16px;width:29%;text-align:center;}
.shopping_b{width:100%; position: fixed; bottom:0; z-index:999; background:rgba(0,0,0,0.8); height:45px;line-height:45px;}
.mui-segmented-control .mui-control-item {
	line-height:25px !important;
	padding: 8px 0;
	display:table-cell;
	overflow:hidden;
	width: 1%;
	-webkit-transition: background-color .1s linear;
	transition: background-color .1s linear;
	text-align: center;
	white-space: normal;
	text-overflow: inherit;
	color: #007aff;
	border-color: #007aff;
	border-left: 1px solid #007aff
}

.hidden
{
    display:none;
}

.tab-shaoping{background:#0A8DDF;border:solid 4px #333; border-radius: 50%; width:45px; height: 45px; margin:-10px 0 0 10px;line-height:40px;}
 .link_n .mui-table-view:before {
	position: absolute;
	top: 19px;
	left: 0;
	width: 0;
	height: 0;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
	border-radius: 3px;
	background: #000 !important;
}
.link_lin .mui-table-view .mui-table-view-cell:after {
	position: absolute;
	top: 19px;
	left: 0;
	width: 0;
	height: 0;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
	border-radius: 3px;
	background: #000 !important;
}
 .link_lin .mui-table-view .mui-table-view-cell:before {
	position: absolute;
	top: 19px;
	left: 0;
	width: 0;
	height: 0;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
	border-radius: 3px;
	background: #000 !important;
}

/*拼团状态*/
.t-sq{height:80px; width: 80px; background: url(../img/shouqing.png) no-repeat center center; background-size:100% ;}
.t-cg{height:80px; width: 80px; background: url(../img/pint-ok.png) no-repeat center center; background-size:100% ;}
.t-yct{height:80px; width: 80px; background: url(../img/yicantuan.png) no-repeat center center; background-size:100% ;}
.t-ct-ok{height:80px; width: 80px; background: url(../img/yichengtuan.png) no-repeat center center; background-size:100% ;}
.t-ct-no{height:80px; width: 80px; background: url(../img/weichengtuan.png) no-repeat center center; background-size:100% ;}

.love_con_red{border: solid 5px #7ad6d4; background: #fff; border-radius:10px; margin: 20px 20px;}
.love_con_red .love_title{color: #7ad6d4;background:url(../img/love-x-h.png) no-repeat center center; background-size:100% ; width: 50%;border-bottom: solid 1px #7ad6d4;}

.love_con_bule{border: solid 5px #93d8f8; background: #fff; border-radius:10px; margin: 20px 20px;}
.love_con_bule .love_title{color: #93d8f8;background:url(../img/love-x-l.png) no-repeat center center; background-size:100% ; width: 50%;border-bottom: solid 1px #93d8f8;}

.love_con_y{border: solid 5px #67cd44; background: #fff; border-radius:10px; margin: 20px 20px;}
.love_con_y .love_title{color: #67cd44;background:url(../img/love-x-y.png) no-repeat center center; background-size:100% ; width: 50%;border-bottom: solid 1px #67cd44;}
.love_sz{position:absolute;top:70%;left:0; width: 100%;}
.love_sz02{position:absolute;top:0;left:0%;}
.love_btn{height:25px; line-height: 0px; margin:35px auto; background:#68ff3b !important;border: solid 2px #fff !important;}


.order_m_yes{background:#fff url(../img/yjs.png) no-repeat 80% center;background-size:15%;}
.order_m_no{background:#fff url(../img/wjs.png) no-repeat 80% center;background-size:15%;}
.order_c_yes{background:#fff url(../img/yjs.png) no-repeat center center;background-size:15%;}
.order_c_no{background:#fff url(../img/wjs.png) no-repeat center center;background-size:15%;}
