.fi{
	float:left;
	position:relative;
	
	/*transition:border-color 0.3s;*/
}

#dateBegin{
	width:145px;
	border-radius:0;
	height:26px;
	font-size:12px;
}

#dateEnd{
	width:145px;
	border-radius:0;
	height:26px;
	font-size:12px;
	margin-left:5px;
}

#prd_no{
	width:145px;
	border-radius:0;
	height:26px;
	font-size:12px;
	margin-left:5px;
}

.btn{
	height:26px;
	border:1px solid #1E9FFF;
	background-color:white;
	width:64px;
	border-radius:3px;
	color:#1E9FFF;
	padding:2px 12px;
}

.btn:hover{
	background-color:#1E9FFF!important;
	color:white!important;
}

th,td{
	padding:4px;
	text-align:center;
}

th div{
	text-align:center;
}

#old_prd_no{
	width:145px;
	border-radius:0;
	height:26px;
	font-size:12px;
}

#new_prd_no{
	width:145px;
	border-radius:0;
	height:26px;
	font-size:12px;
	margin-left:5px;
}

.modify{
	color:black;
	cursor:pointer;
	text-decoration:none;
}

.modify:hover{
	                     
}

.int{
	height:26px;
	border:1px solid #dddddd;
	width:430px;
	padding-left:3px;
}

.layui-laypage-limits select{
	height:26px!important;
}