.my-tab li{
    padding : 0 30px;
}
.my-tab{
    border-top: 1px solid #e2e2e2;
    
    margin: 0;
}
.my-tab .layui-tab-title{
    /*background-color: #FFF;*/
}
.my-tab .layui-tab-content{
    padding: 0;
}
.my-tab .layui-tab-content iframe{
    width: 100%;
    border: 0;
}