/*****************************************/
/*基础header颜色*/
.bc-head {
    background-color: #00A1EA;
}
/*****************************************/
/*基础body背景颜色*/
.bc-bg {
    background-color: #FFFFFF !important;
}
/*辅助控件背景颜色*/
.sc-bg {
    background-color: #EEEEEE;
}
/*辅助控件背景颜色*/
.sc-bg2 {
    background-color: #ECF0F3;
}
/*辅助控件背景颜色*/
.sc-login {
    background-color: #FFFFEE;
}
/*辅助控件背景颜色*/
.sc-bg-active {
    background-color: #DFDFDF;
}
.sc-bg-active-top {
    background-color: #f5f5f5;
}
/*辅助控件背景颜色*/
.sc-bg-grey {
    background-color: #999999;
}
/*辅助控件背景颜色*/
.sc-bg-title {
    background-color: #83C5D5;
}
/*警告背景色*/
.sc-bg-alert {
    background-color: #F16412;
}
/*同意背景色*/
.sc-bg-consent {
    background-color: #1BC366;
}
/*错误背景色*/
.sc-bg-error {
    background-color: #F24040;
}
.sc-bg-light-grey {
    background-color: #F5F5F5;
}
/*****************************************/
/*基础字体颜色*/
.bc-text {
    color: black;
}
/*基础标题字体颜色*/
.bc-text-head {
    color: white;
}
/*辅助字体颜色*/
.sc-text {
    color: #848484;
}
/*辅助字体颜色*/
.sc-text-active {
    color: #00A1EA !important;
}
/*辅助字体颜色*/
.sc-text-hint {
    color: #E3E3E3;
}
/*辅助字体颜色*/
.sc-text-warn {
    color: #FC7800;
}
/*辅助字体颜色*/
.sc-text-tab {
    color: #636363;
}
/*辅助字体颜色*/
.sc-text-bx {
    color: #F24040;
}
/*辅助字体颜色*/
.uc-text-a {
    color: #2685E4;
}
/*辅助字体颜色*/
.uc-text-b {
    color: #009100;
}
/*****************************************/
/*基础边框颜色*/
.bc-border {
    border-color: #BABABA;
}
/*辅助边框颜色*/
.sc-border {
    border-color: #FFFFFF;
}
/*辅助边框颜色*/
.sc-login {
    border-color: #F24040;
}
.sc-border-tab {
    border-color: #00A1EA;
}
.sc-border-dashed {
    border-color: #E6E6E6;
}
.sc-border-view {
    border-color: #636363;
}
.sc-border-edge {
    border-color: #ECECEC;
}
/*****************************************/
/*基础按钮颜色*/
.bc-btn {
    background-color: #007DB8;
}
/*辅助按钮颜色*/
.sc-btn {
    background-color: #00A1EA;
}
/*辅助按钮颜色*/
.exit-btn {
    background-color: #F48221;
}
/*辅助按钮颜色*/
.wc-btn {
    background-color: #FFFFFF;
}
/*辅助同意按钮颜色*/
.sc-btnY {
    background-color: green;
}
/*辅助不同意按钮颜色*/
.sc-btnN {
    background-color: darkred;
}






