html,body{
	height:100%;
	width:100%;
	margin:0;
	padding:0;
}select{
	appearance:none;
    -moz-appearance:none;
    -webkit-appearance:none;
}

.separator{
	width:100%;
	height:26px;
	border-radius:0;
	font-size:12px;
	padding:0;
	padding-left:3px;
}

.all{
	width:150px;
	border-radius:0;
	height:26px;
	font-size:12px;
}

.fi{
	float:left;
	position:relative;
	
	/*transition:border-color 0.3s;*/
}

.btn1{
	height:26px;
	border:1px solid #1E9FFF;
	background-color:white;
	width:64px;
	border-radius:3px;
	color:#1E9FFF;
	padding:2px 12px;
}

th,td{
	padding:6px;
	font-size:12px;
	border:1px solid #e6e6e6;
}

#dateTable_length{
	display:none!important;
}

#tui_detail_length{
	display:none!important;
}

#huan_detail_length{
	display:none!important;
}

#history_now_length{
	display:none!important;
}

#history_now th,#history_now td{
	text-align:center;
}

#tui_detail_processing{
	display:none!important;
}

#huan_detail_processing{
	display:none!important;
}

#history_now_processing{
	display:none!important;
}

#shopname{
	height:24px;
	outline:none;
	border:none;
	width:129px;
}

a{
	cursor:pointer;
}

a:hover{
	text-decoration:none;
}