html,body
{
	width:100%;
	height:100%;
	border:0;
	margin:0;
	padding:0;
	overflow:visible;
}

body .mini-pager-num {
	height: 22px;
}

.mini-grid-headerCell-inner {
	font-size: 11pt;
	line-height: 26px;
}

.mini-grid-table {
	height: 34px;
}

.mini-textbox {
	height: 30px;
}

.mini-buttonedit{
	height: 30px;
}

.mini-textbox-input {
	height: 30px;
	font-size: 11pt;
}

.mini-buttonedit-input {
	height: 30px;
	font-size: 11pt;
}

.mini-textbox-focus {
	height: 30px;
}

.mini-buttonedit-focus{
	height: 30px;
}

.mini-textbox-border{
	height: 28px;
}

.mini-buttonedit-border{
	height: 28px;
}

.mini-grid-cell-inner {
	font-size: 11pt;
	line-height:28px;
}

.wrap{
	width:100%;
	height:100%;
}

#flow{
	position:relative;
}

.btn{
	height:26px;
	border:1px solid #1E9FFF;
	background-color:white;
	width:64px;
	border-radius:3px;
	color:#1E9FFF;
	padding:2px 12px;
}

.btn:hover{
	background-color:#1E9FFF!important;
	color:white!important;
}




